*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #fff;
  background-size: cover;
}

.wrapper {
  background-color: #a9e5e5;
  padding-right: 1em;
  padding-left: 1em;
}

header {
  height: 64px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff9966, #ff5e62);
}

header h2 {
  font-size: 1.8em;
  margin-top: 0;
  padding-top: 0.8em;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0;
}

.info {
  text-align: center;
}

.info h3,
fieldset legend {
  /* 	color: #444444; */
}

.info h3 {
  margin-top: 0;
  padding-top: 1.5em;
  font-size: 2.5em;
}

.info p {
  font-size: 0.85em;
  border-bottom: 4px solid rgba(45, 57, 69);
  padding-bottom: 3em;
  margin-bottom: 0;
}

form {
  border-top: 2px solid rgba(45, 57, 69);
  margin-top: 2px;
  padding-top: 1em;
}

fieldset {
  border: none;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

fieldset legend {
  font-size: 1.65em;
  font-weight: bold;
  padding-bottom: 0.75em;
}

.contact-info label {
  display: block;
  padding-bottom: 0.65em;
  font-size: 1.25em;
}

.newsletter label {
  font-size: 1.25em;
}

.contact-info input,
select,
textarea {
  box-shadow: 0 0 1px;
  width: 100%;
  height: 4em;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  border-color: #fff;
  text-indent: 10px;
  transition: border-color 0.4s ease-in-out;
}

textarea {
  height: 85px;
  padding-top: 10px;
}

.contact-info input:focus,
select:focus,
textarea:focus {
  border: 2px solid #46698b;
  border-radius: 0;
}

#name:focus,
#email:focus {
  border: 2px solid #ff7463;
}

.submit-btn {
  width: 100%;
  background-color: #eeeec6;
  border: none;
  border-radius: 5px;
  color: #444444;
  font-size: 1.25em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 0;
}

.submit-btn:hover {
  opacity: 0.8;
}

.newsletter [type='checkbox'] {
  transform: scale(1.4);
}

::placeholder {
  text-align: right;
  padding-right: 1em;
}

.footer p {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin: 0;
}

@media (min-width: 760px) {
  .wrapper {
    max-width: 685px;
  }

  .info h3 {
    font-size: 2.5em;
    letter-spacing: 1px;
  }

  .info p {
    font-size: 1.1em;
  }

  .contact-info label {
    display: inline-block;
    width: 20%;
  }

  .contact-info input,
  select {
    width: 78%;
  }

  .newsletter .checkboxes p {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 90%;
    max-width: 950px;
  }

  .contact-info label {
    display: inline-block;
    width: 26%;
  }

  .contact-info input,
  select {
    width: 72%;
  }

  .contact-info p,
  .newsletter p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  form {
    display: flex;
    justify-content: space-between;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    height: 500px;
    justify-content: space-around;
  }

  fieldset {
    margin-right: 0;
    margin-left: 0;
  }

  .contact-info {
    width: 55%;
  }

  .newsletter {
    width: 41%;
  }

  form {
    padding-top: 1em;
  }
}

input,
select {
  margin-bottom: 0.25rem;
}
