* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container-2 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* nav */

.nav {
  padding: 1rem 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-text {
  font-size: 3rem;
  text-transform: uppercase;
  color: #1b2a41;
}

.logo-img {
  margin-top: 2rem;
}

/* flag section */
.flag-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* currency section */
.currency-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 0.5rem;
}

.currency-img {
  max-width: 300px;
}

/* flag section */

.text-center {
  color: #1b2a41;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* submit button */
.submit-btn {
  cursor: pointer;
  margin-bottom: 1rem;
}

/* footer */
.footer {
  text-align: center;
  color: #1b2a41;
}

.footer-text {
  margin: 0.25rem 0;
}

/* stocks */
.dgd-title {
  color: #1b2a41;
  font-size: 2rem;
  text-align: center;
  padding: 4rem 0;
  font-size: 2.5rem;
  text-decoration: underline;
}

.stocks-section {
  color: #1b2a41;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 600px;
  margin: 0 auto;

  padding: 4rem 0;
}

.stocks-section-title {
  font-size: 3rem;
  grid-column: 1/-1;
  padding-bottom: 1rem;
}

.stocks-section-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stocks-label {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

.stocks-number {
  background-color: #ddd;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 10px;
}

.stocks-cta {
  text-decoration: none;
  color: #1b2a41;
  background-color: #ddd;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 15px;
  text-transform: uppercase;

  grid-column: 1/-1;
  justify-self: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  background: #d13751;
  list-style: none;
  margin-top: 1rem;
}

.nav-link {
  color: #fefefe;
  font-weight: 600;
  font-size: 2rem;

  display: inline-block;
  padding: 1rem 0;
}
